/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* Start Project */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "TTNorms";
}
.loader {
    transition: .3s ease-out;
    background-color: #2f5bea;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 100%;
    z-index: 101;
}
.loader i {
    position: fixed;
    left: 50%;
    top: 50%;
    color: transparent;
}
.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu__link {
    text-decoration: none;
    color: rgba(20, 18, 58, 0.795);
    padding: 0 1rem;
    margin-inline: .5rem;
}
.close-btn {
    display: none;
}
.nav  {
    display: flex;
    align-items: center;
}
.nav-logo {
    margin-right: .5rem;
    display: flex;
    align-items: center;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-family: 'TTNorms Medium';
}
.link-button {
    text-decoration: none;
    color: #fff;
    background-color: rgb(24, 24, 231);
    padding: .8rem 1rem;
    border-radius: .5rem;
    transition: background-color .3s ease;
}
.header__link:hover {
    background-color: rgba(55, 55, 219, 0.808) ;
}
.header__icon{
    display: none;
}
/* header bottom */
.header-bottom{
    margin-top: 1.5rem;
}
.header-content{
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    margin-bottom: 4rem;
}
.header-content__left{
    flex-basis: 50%;
}
.header-content__right{
    flex-basis: 50%;
}
.header-content__wrapper{
    max-width: 27rem;
}
.header-content__title{
    color: #081D41;
    font-family: "TTNorms Medium";
    font-weight: normal;
}
.header-content__text{
    color: #6C7890;
    line-height: 1.5rem;
    font-family: "TTNorms Medium";
    font-weight: normal;
}
.header-content__links {
    display: flex;
    margin-top: 2rem;
}
.header-content__link{
    text-decoration: none;
    color: #fff;
    background-color: rgb(24, 24, 231);
    padding: .8rem 1rem;
    border-radius: .5rem;
    transition: background-color .3s ease;
    margin: 1rem .8rem 0 0;
    display: block;
    width: 9rem;
    text-align: center;
    font-family: "TTNorms Medium";
    font-size: .9rem;
}
.header-content__link:nth-child(odd){
    background-color: #87BC25;
}
.header-content__link:nth-child(odd):hover{
    background-color: #9cc257ea;
}
.header-content__link:hover {
    background-color: rgba(55, 55, 219, 0.808) ;
}
.header-item__img{
    width: 100%;
}
/* start main */
.works{
    text-align: center;
    padding: 3rem;
}
.works__text, .portfolio__text{
    color: #6C7890;
    margin-bottom: 0;
    margin-top: 0rem;
    font-family: 'TTNorms Medium';
    font-weight: normal;
}
.works__title, .portfolio__title{
    color: #081d43;
    margin-top: .7rem;
    font-family: 'TTNorms Medium';
}
.works-content{
    display: flex;
    justify-content: space-around;
    margin: 1.3rem 2.5rem;
    font-family: "TTNorms Light";
    flex-wrap: wrap;
}
.works-content__item {
    flex-basis: 16rem;
    flex-shrink: 0;

}
.works-content__title{
    color: #081d43;
}
.works-content__text{
    color: #6C7890;
    line-height: 1.5rem;
    max-width: 16rem;
}
.work__picture{
    max-width: 31rem;
    margin: 0 auto;
}
.main-picture{
    width: 100%;
}
/* person comment section */
.person-comments{
    background-color: #2f5bea;
    color: #fff;
    text-align: center;
    padding: 3rem;
}
.person-comments__title{
    font-family: 'TTNorms Medium';
    font-weight: normal;
    margin-top: 0;
}
.person-comments__text{
    font-family: 'TTNorms Medium';
}
.comments-container{
    max-width: 60rem;
    margin: 3.5rem auto 0 auto;
}
.comments{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.comment{
    background-color: #fff;
    margin: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 17rem;
    flex-basis: 16rem;

}
.comment__content{
    text-align: left;
    padding: 1rem;
}
.comment__body{
    font-family: "Times Roman Italic";;
    color: #7E8085;
    line-height: 1.5rem;
    margin: 0;

}
.comment__info{
    display: flex;
    border-top: 1px solid #E8EBEF;
    padding: .8rem 1rem;
    align-items: center;
    font-family: 'TTNorms Medium';
    font-weight: normal;
}
.comment__person{
    color: #000;
    margin: 0 0 0 .5rem;
}
.companies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3.5rem;
}
.companies__img{
    display: block;
    margin: 1rem;
}
/* portfolio */
.portfolio{
    text-align: center;
    padding: 3rem;
}
.portfolio-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}
.portfolio__item{
    flex-basis: 23rem;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
}
.portfolio__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    transition: all .2s ease-in-out;
}
.portfolio__img:hover {
    filter: none;
    transform: scale(1.2);
    border-radius: 1.5rem;
}
/* start footer */
.newsletter{
    background-color: #2C57E4;
    font-family: "TTNorms Medium";
    padding: 3rem 5rem;
    color: #fff;
}
.newsletter__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsletter__text{
    font-size: 1.5rem;
    font-weight: normal;
}
.newsletter__email{
    background-color: #fff;
    flex-basis: 22rem;
    display: flex;
    justify-content: space-between;
    padding: .4rem .4rem .4rem 1.5rem;
    border-radius: .5rem;
    font-family: "TTNorms Light";
}
.newsletter__txt{
    border: none;
    outline: none;
    width: 100%;
}
.newsletter__btn{
    background-color: #2f5bea;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .3s ease;
}
.newsletter__btn:hover{
    background-color: rgba(55, 55, 219, 0.808);
}
.copy-right{
    color: #6C7890;
    font-family: "TTNorms Light";
    padding: 1rem 5rem;
}
.copy-right__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-github {
    text-decoration: none;
    color: #6C7890;
    transition: all .2s ease-in-out;
}
.footer-github:hover {color: #FE7A36;}
/* Project Responsive */

@media only screen and (max-width: 75rem) {
    .container {
        max-width: 60rem;
    }
    .comments {
        justify-content: center;
        flex-basis: 22rem;
    }
    .portfolio__item {
        flex-basis: 25rem;
    }
    .newsletter__text {
        max-width: 25rem;
    }
    .header-content__links {
        justify-content: center;
    }
}

@media only screen and (max-width: 62rem) {
    .container {
        max-width: 45rem;
    }
    .header__link {
        display: none;
    }
    .header-content {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .header-bottom {
        margin-top: 3rem;
    }
    .header-content__wrapper {
        max-width: 100%;
    }
    .header-conten__right {
        margin-bottom: 2rem;
    }
    .header-content__links {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .header-content__link{
        margin-bottom: 1rem;
    }
    .comments {
        flex-wrap: wrap;
        justify-content: center;
    }
    .comment {
        flex-basis: 30rem;
    }
    .companies {
        justify-content: center;
        margin-top: 2.5rem;
    }
    .portfolio__item {
        flex-basis: 17rem;
    }
    .newsletter__text {
        max-width: 20rem;
    }
}


@media only screen and (max-width: 48rem) {
    .container {
        max-width: 33.75rem;
    }
    .header__icon{
        display: block;
        cursor: pointer;
    }
    .menu {
        position: fixed;
        top: 0;
        left: -16rem;
        bottom: 0;
        width: 16rem;
        flex-direction: column;
        background-color: #2f5beac3;
        padding: 2rem 1rem;
        transition: all .3s;
    }
    .menu__item {
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
    .menu__item a {
        color: #eee;
    }
    .works-content__item{
        flex-basis: 13rem;
        margin-bottom: 1.5rem;
    }
    .comment {
        margin: 0 1rem 1rem 0;
        flex-basis: 25rem;
    }
    .portfolio__item {
        flex-basis: 100%;
    }
    .newsletter__wrapper {
        flex-direction: column;
    }
    .newsletter__text {
        max-width: 100%;
        margin-bottom: 2rem;
    }
    .newsletter__email {
        flex-basis: auto;
        width: 100%;
    }
}

@media only screen and (max-width: 36rem) {
    .container {
        max-width: 100%;
    }
    .works-content__item{
        flex-basis: 100%;
    }
    .works-content__text {
        max-width: 100%;
    }
    .comments {
        justify-content: space-between;
    }
    .comment {
        flex-basis: 100%;
    }
    .companies {
        flex-direction: column;
    }
    .newsletter__btn {
        padding: 1rem;
    }
}

/*special thanks sabzlearn.ir*/
